<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @derrame.title %>
</p>

<p style="white-space: pre-wrap;">
  <strong>Content:</strong>
  <%= @derrame.content %>
</p>

<%= link_to 'Edit', edit_derrame_path(@derrame) %> |
<%= link_to 'Back', derrames_path %>
