<p id="notice"><%= notice %></p>

<p>
  <strong><%= @derrame.title %></strong>
</p>

<p style="white-space: pre-wrap;">
  <%= @derrame.content %>
  <%= social_share_button_tag(@derrame.title) %>
</p>

<%= link_to 'Editar', edit_derrame_path(@derrame) %> |
<%= link_to 'Atras', derrames_path %>
